<section class="blue request-demo" id="request-demo">
  <article>
    <div>
      <div class="text">
        {% if form-consultation %}
          <h3>{{ buttons.request_consultation }}</h3>
        {% else %}
          <h3>{{ buttons.request_demo }}</h3>
        {% endif %}
        {% if form-message %}
          <p>{{ form-message }}</p>
        {% else %}
          {% if form-consultation %}
            <p>To schedule for a conversation with our experts in
              <strong>{{ title }}</strong>
              Consultations, please share your email, and we'll contact you back.</p>
          {% else %}
            <p>To ask for quotation or schedule for a conversation with our
              <strong>{{ title-strong }}</strong>
              experts, please share your email, and we'll contact you back.</p>
          {% endif %}
        {% endif %}
      </div>

      <form action="{{ page.url }}">
        <div class="combined">
          <input type="email" placeholder="{{ buttons.type_email }}" />
          <a class="button cta small">
            <button type="submit">{{ buttons.send }}</button>
          </a>
        </div>
      </form>
    </div>
  </article>
</section>