---
layout: products.liquid

title: Jadi - Sistem Dokumen Hukum dan Informasi
title-strong: Jadi
title-description: Sistem Dokumen Hukum dan Informasi
description: Buka potensi penuh manajemen dokumen dan informasi dengan teknologi kami yang telah terbukti disesuaikan dengan kebutuhan sistem Anda.
svg: jadi-scale

date: 1983-10-29
---

{% assign menu = menu.id %}
{% assign buttons = buttons.id %}

<section class="hero">
  <article>
    <div class="text">
      <h4>{{ menu.products }}</h4>
      <h1>{{ title }}</h1>
      <p>Dengan
        <strong>Jadi</strong>, buka potensi penuh manajemen dokumen dan informasi dengan teknologi kami yang telah terbukti, disesuaikan dari pengalaman bertahun-tahun dalam mengelola sistem dokumen hukum.</p>
    </div>
    <a href="#request-demo" class="button cta">{{ buttons.request_demo }}
      <i class="arrow"></i>
    </a>
  </article>
  <img
    src="/img/jadi/home.webp"
    width="1200"
    height="720"
    loading="lazy"
    alt="{{ title-strong}} ({{ title-description }}) Tangkapan layar beranda" />
</section>

<section class="blocks icon">
  {% h2 svg title %}
    <h2>Merangkul Efisiensi, Transparansi, dan Akurasi</h2>
    <p>Bergabunglah dengan jajaran berbagai organisasi yang mengandalkan
      <strong>Jadi</strong>
      untuk mempublikasikan dokumen hukum dan penelitian mereka. Dengan
      <strong>Jadi</strong>, organisasi Anda dapat dengan mulus mengakses, mengelola, dan memanfaatkan gudang besar dokumen hukum, peraturan, dan publikasi pemerintah.</p>
  {% endh2 %}

  <div class="dots"></div>

  <div class="bento">
    <div class="box big neon-blue v-text-r">
      <div class="img right">
        <img
          src="/img/blocks/search/jadi.webp"
          width=""
          height="87.57%"
          loading="lazy"
          alt="Jadi Formulir pencarian" />
      </div>
      <div class="text">
        <h3>Opsi Pencarian Lanjutan Kustom</h3>
        <p>Memberikan lebih banyak opsi granular untuk hasil yang lebih cepat dan lebih akurat bagi para pengunjung.</p>
      </div>
    </div>

    <div class="box small neon-green h-text-t">
      <div class="img top">
        <img
          src="/img/blocks/category.webp"
          width="130.5%"
          height=""
          loading="lazy"
          alt="Jadi Blok kategori" />
      </div>
      <div class="text">
        <h3>Kategorikan Semua Informasi</h3>
      </div>
    </div>

    <div class="box medium blue-cyan h-text-b">
      <div class="img left bottom">
        <img
          src="/img/blocks/news.webp"
          width=""
          height="110.99%"
          loading="lazy"
          alt="Jadi Blok berita" />
      </div>
      <div class="text">
        <h3>Memberi Tahu Pengunjung dengan Berita Terbaru</h3>
      </div>
    </div>

    <div class="box medium big-mobile blue-normal h-text-t">
      <div class="img top left round-shadow">
        <img
          src="/img/jadi/home-search.webp"
          width="242.91%"
          height=""
          loading="lazy"
          alt="Jadi Beranda dengan fokus pencarian" />
      </div>
      <div class="text">
        <h3>Organisasi Anda, <br/> Merek Anda</h3>
      </div>
    </div>
  </div>
</section>

<section class="plain">
  <div class="text">
    <h2>Dirangkum Menggunakan Pembelajaran Mesin dan Otomatisasi</h2>
    <p>Tantangan yang signifikan dalam manajemen dokumen terletak pada meringkas konten dari file -file seperti PDF dan DOCX, tugas yang secara tradisional ditangani secara manual. Ringkasan ini sangat penting untuk mengoptimalkan 
      hasil mesin pencari
      <strong>Jadi</strong>. Untuk mengatasi hal ini,
      <strong>Jadi</strong>
      menawarkan alat yang mengotomatiskan proses merangkum ratusan dokumen, memanfaatkan pembelajaran mesin untuk meningkatkan efisiensi dalam pengambilan informasi.</p>
  </div>

  <svg
    width="130%"
    viewBox="0 0 1248 346"
    aria-label="Dokumen Pembelajaran Mesin Diagram Otomatisasi Ringkasan">
    <use href="/img/ml-automation.svg#img" />
  </svg>
</section>

<section class="slider">
  <div class="text">
    <h2>Pilih tampilan</h2>
    <p>Kustomisasi
      <strong>Jadi</strong>
      Anda dengan tampilan yang telah ditentukan sebelumnya yang sesuai dengan kebutuhan organisasi Anda. Apakah Anda ingin fokus pada berita, atau fokus pada mesin pencari,
      <strong>Jadi</strong>
      memiliki opsi.</p>
  </div>

  <div class="scroll">
    <ul>
      <li>
        <img
          src="/img/jadi/home-news.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Beranda Jadi dengan fokus berita" />
      </li>
      <li>
        <img
          src="/img/jadi/home-search.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Beranda Jadi dengan fokus pencarian" />
      </li>
      <li>
        <img
          src="/img/jadi/home.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Beranda Jadi dengan tampilan standar" />
      </li>
    </ul>
  </div>
</section>

<section class="slider">
  <div class="text">
    <h2>Tampilan akrab yang tetap sejalan dengan strategi branding Anda</h2>
    <p>
      <strong>Jadi</strong>
      dirancang untuk memiliki tampilan dan nuansa yang sama dengan berbagai mesin pencari, membuat pengunjung merasa akrab dan nyaman. Secara bersamaan, kami telah memasukkan desain yang benar-benar mewakili organisasi Anda.</p>
  </div>

  <div class="scroll">
    <ul>
      <li>
        <img
          src="/img/jadi/result.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Hasil pencarian Jadi dengan tampilan standar" />
      </li>
      <li>
        <img
          src="/img/jadi/result-filter.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Hasil pencarian Jadi dengan fokus filter" />
      </li>
    </ul>
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>Dipercaya Oleh</h2>
    <p>Organisasi-organisasi ini telah bermitra dengan Sagara untuk meningkatkan sistem dokumen hukum mereka, memberikan hasil yang luar biasa.</p>
  </div>

  <div class="selection partners">
    <div class="scroll">
      <ol>
        {% selection_logo "bekraf" "Badan Ekonomi Kreatif Indonesia" %}
        {% selection_logo "bnpt" "Badan Nasional Penanggulangan Terorisme" %}
        {% selection_logo "kemensos" "Kementerian Sosial Indonesia" %}
        {% selection_logo "kemenkumham" "Badan Pengembangan Hukum Nasional Indonesia" %}
      </ol>
    </div>
  </div>
</section>