---
layout: main.liquid

tags: careers
class: careers
svg: placeholder

permalink: "careers/{{ title | slugify }}/{{ level | slugify }}/index.html"
---

<section class="hero image">
  <article>
    <div class="text">
      <h4>Careers</h4>
      <h1>[{{ level }}] {{ title }}</h1>
      <p>{{ description }}</p>
    </div>
    <a href="#detail" class="button cta">See Details
      <i class="arrow"></i>
    </a>
  </article>

  <div class="img clip">
    <img
      src="{{ img }}"
      width="1440"
      height=""
      alt="{{ alt  }}" />
  </div>
</section>

<section id="detail" class="career">
  <div class="content">
    <sidebar></sidebar>

    <article>
      {{ content }}
    </article>
  </div>

  <div class="dots"></div>
</section>