---
layout: main.liquid

tags: careers
class: careers
svg: placeholder

careers-now: true
permalink: "careers/{{ title | slugify }}/{{ level | slugify }}/index.html"
---

<section class="hero image">
  <article>
    <div class="text">
      <h4>{{ level }}</h4>
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
    <a href="#detail" class="button cta">See Details
      <i class="arrow"></i>
    </a>
  </article>

  <div class="img clip">
    <img
      src="{{ img }}"
      width="1440"
      height=""
      alt="{{ alt  }}" />
  </div>
</section>

<section id="detail" class="career">
  <div class="content">
    <sidebar>
      <menu>
        {{ content | toc }}
        <li>
          <a href="#how-to-apply" class="blue">How to Apply</a>
        </li>
      </menu>
    </sidebar>

    <article>
      {{ content }}
    </article>
  </div>

  <div class="dots"></div>
</section>

<section id="how-to-apply" class="blue">
  <article>
    <div>
      <div class="text">
        <h3>How to Apply</h3>
        <p>Ready to jumpstart your career as an {{ level }} {{ title }}? Send and upload your resume and a brief cover letter outlining your passion in a zip file here.</p>
      </div>

      <form action="{{ page.url }}">
        <div class="row">
          <div class="combined">
            <input type="text" placeholder="Type your name" />
          </div>
          <div class="combined drop">
            <input
              type="file"
              id="upload"
              accept=".zip,.rar,.7zip,.7z,.tgz,.gz,.bz,.bz2,.tar"
              required
              name="upload" />
            <label for="upload">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                style="width: 1.5rem; height: 1.5rem;">
                <g
                  stroke="var(--svg-stroke)"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2">
                  <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                  <path d="m17 8-5-5m0 0L7 8m5-5v12" />
                </g>
              </svg>
            </label>
          </div>
        </div>

        <div class="combined combined-mobile cta">
          <input
            type="email"
            minlength="6"
            required
            placeholder="Type your email" />
          <a class="button cta small">
            <button type="submit">Send</button>
          </a>
        </div>
      </form>
    </div>
  </article>
</section>