---
layout: main.liquid
tags: consultations
class: consultations
consultations-now: true
svg: placeholder
permalink: "{{ title | slugify }}/index.html"
---

<section class="hero">
  <article>
    <div class="text">
      <h4>{{ class }}</h4>
      <h1>{{ title }}</h1>
      <p>{{ description-hero }}</p>
    </div>
    <a href="#request-demo" class="button cta">Request for Quotation
      <i class="arrow"></i>
    </a>
  </article>
</section>

{{ content }}

{% include 'build-in' %}

{% render 'form-request-for-demo' form-consultation: true %}