---
title: Sagara
description: A Mission Driven Technology Company in Indonesia
namespace: home
---

<!DOCTYPE html>
<html lang="{{ page.lang }}" class="nojs">
  <head>
    <meta charset="UTF-8">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#F9FAFC" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#191A1B" />
    <link rel="stylesheet" href="/css/bundle.css">

      {% comment %} Provide link to othe language {% endcomment %}
    <link
      rel="alternate"
      hreflang="{{ page.lang }}"
      href="{{ page.url }}">
    {% assign links = page.url | locale_links %}
    {%- for link in links %}
      <link
        rel="alternate"
        hreflang="{{ link.lang }}"
        href="{{ link.url }}">
    {%- endfor -%}

    <script>
      if (window.matchMedia) {
        const html = document.querySelector("html");
        const mode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark-mode" : "js";
        html.setAttribute("class", mode);
      }
    </script>
    <script src="/js/bundle.js" async></script>

    {% comment %} Favicons {% endcomment %}
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/{{ page.lang }}/meta/apple-touch-icon.png">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/{{ page.lang }}/meta/favicon-32x32.png">
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/{{ page.lang }}/meta/favicon-16x16.png">
    <link rel="icon" href="/{{ page.lang }}/meta//favicon.svg">
    <link
      rel="mask-icon"
      href="/{{ page.lang }}/meta/favicon.svg"
      color="#2B2727">
    <link rel="manifest" href="/{{ page.lang }}/meta/site.webmanifest">

      {% comment %} Microsoft tile {% endcomment %}
    <meta name="msapplication-TileColor" content="#F9FAFC">
    <meta name="msapplication-TileImage" content="/{{ page.lang }}/meta/android-chrome-192x192.png">

      {% comment %} Open Graph / Facebook {% endcomment %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="meta/favicon.svg">

      {% comment %} Twitter {% endcomment %}
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ page.url }}">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ description }}">
    <meta property="twitter:image" content="/{{ page.lang }}/meta/favicon.svg">
  </head>

  <body data-barba="wrapper">
    {% comment %} Url Translation {% endcomment %}
    {% assign homepage_url = "/" | locale_url %}
    {% assign products_url = "/products/" | locale_url %}
    {% assign solutions_url = "/solutions/" | locale_url %}
    {% assign consultations_url = "/consultations/" | locale_url %}
    {% assign supports_url = "/supports/" | locale_url %}
    {% assign careers_url = "/careers/" | locale_url %}
    {% assign about_url = "/about/" | locale_url %}
    {% assign commitment_url = "/commitment-and-responsibility/" | locale_url %}
    {% assign term_url = "/terms-of-use/" | locale_url %}
    {% assign cookie_url = "/cookie-policy/" | locale_url %}
    {% assign privacy_url = "/privacy-policy/" | locale_url %}

    {% comment %} Menu translation {% endcomment %}
    {% if page.lang == "id" %}
      {% assign menu = menu.id %}
      {% assign accessibility = accessibility.id %}
    {% else %}
      {% assign menu = menu.en %}
      {% assign accessibility = accessibility.en %}
    {% endif %}

    <header id="top">
      <div>
        <a
          href="{{ homepage_url }}"
          {% aria_current_page page.url homepage_url %}
          class="logo">
          <span class="gradient"></span>
          <span class="name">sagara</span>
        </a>
      </div>

      <nav class="menu">
          {% comment %} Toggle for desktop {% endcomment %}
        <input
          type="radio"
          name="main-menu"
          id="menu-close"
          hidden
          checked />
        <label
          for="menu-close"
          id="menu-close-trigger"
          hidden></label>

        {% comment %} Toggle for mobile {% endcomment %}
        <input
          type="checkbox"
          name="main-menu-show"
          id="menu-show"
          hidden />
        <label
          for="menu-show"
          id="menu-show-trigger"
          hidden>
          <span>
            <i class="show"></i>
          </span>
        </label>

        {% comment %} Menu {% endcomment %}
        <menu>
          <li hidden>
            <a href="{{ homepage_url }}">Home</a>
          </li>
          <li {% aria_current_page page.url products_url products-now %}>
            {% label_checkbox menu.products products_url "main-menu" %}

            <nav class="popup">
              <menu>
                {% render "item-menu" items: collections.products page_url: page.url lang: page.lang %}
              </menu>
              {% a_arrow menu.see_products products_url "button pill" %}
            </nav>
          </li>
          <li {% aria_current_page page.url solutions_url solutions-now %}>
            {% label_checkbox menu.solutions solutions_url "main-menu" %}

            <nav class="popup">
              <menu>
                {% render "item-menu" items: collections.solutions page_url: page.url lang: page.lang %}
              </menu>
              {% a_arrow menu.see_solutions solutions_url "button pill" %}
            </nav>
          </li>
          <li {% aria_current_page page.url consultations_url consultations-now %}>
            {% label_checkbox menu.consultations consultations_url "main-menu" %}

            <nav class="popup">
              <menu>
                {% render "item-menu" items: collections.consultations page_url: page.url lang: page.lang %}
              </menu>
              {% a_arrow menu.see_consultations consultations_url "button pill" %}
            </nav>
          </li>
          <li {% aria_current_page page.url supports_url supports-now %}>
            {% label_checkbox menu.supports supports_url "main-menu" %}

            <nav class="popup">
              <menu>
                {% render "item-menu" items: collections.supports page_url: page.url lang: page.lang %}
              </menu>
              {% a_arrow menu.see_supports supports_url "button pill" %}
            </nav>
          </li>
          <li {% aria_current_page page.url careers_url careers-now %}>
            <a href={{ careers_url }}>{{ menu.careers }}</a>
          </li>
        </menu>

        {% comment %} Toggle for Accesibility {% endcomment %}
        <label for="accessibility" class="accessibility">
          <svg
            width="24"
            height="24"
            viewBox="0 0 32 32"
            aria-label="Jadi Logo">
            <use href="/img/icons/medium.svg#accessibility" />
          </svg>
        </label>
      </nav>

      {% comment %} Accessibility popup {% endcomment %}
      <div id="a11y">
        <input
          type="checkbox"
          name="accessibility"
          id="accessibility"
          hidden />
        <dialog class="options" title="{{ accessibility.settings }}">
          <form method="dialog">
            <article>
              <h3>{{ accessibility.title }}</h3>
              <label><input
                  type="checkbox"
                  id="reduce-motion"
                  name="reduce-motion"> {{ accessibility.motion }}</label>
              <label><input
                  type="checkbox"
                  id="underline-links"
                  name="underline-links"> {{ accessibility.links }}</label>
              <label><input
                  type="checkbox"
                  id="high-contrast"
                  name="high-contrast"> {{ accessibility.contrast }}</label>
              <label><input
                  type="checkbox"
                  id="dark-mode"
                  name="dark-mode"> {{ accessibility.dark_mode }}</label>
              <p class="row">
                <input
                  type="checkbox"
                  id="lang"
                  name="lang"
                  hidden>
                <span>Language</span>
                <label class="button white very-small" id="lang-en">En</label>
                <label class="button white very-small" id="lang-id">Ina</label>
              </p>
            </article>
            <p class="small">{{ accessibility.notice }}</p>
            <label for="accessibility" class="button white pill">{{ accessibility.save }}
              <i class="arrow"></i>
            </label>
          </form>
        </dialog>
      </div>
    </header>

    <div id="loader" aria-hidden>
      <div class="logo square">
        <span class="gradient plain"></span>
      </div>
    </div>

    <main
      class="{{ class }}"
      data-barba="container"
      data-barba-namespace="{{ namespace }}">

      {{ content }}
    </main>

    <footer>
      <a href="#top" id="scrollTop">
        {% if page.lang == "id" %}
          skroll ke atas
        {% else %}
          scroll to top
        {% endif %}
      </a>

      <menu class="sitemap">
        <li>
          <h3>{% a_menu menu.products products_url page.url %}</h3>
          <ol>
            {% render "item-menu-footer" items: collections.products page_url: page.url lang: page.lang %}
          </ol>
        </li>
        <li>
          <h3>{% a_menu menu.solutions solutions_url page.url %}</h3>
          <ol>
            {% render "item-menu-footer" items: collections.solutions page_url: page.url lang: page.lang %}
          </ol>
        </li>
        <li>
          <h3>{% a_menu menu.consultations consultations_url page.url %}</h3>
          <ol>
            {% render "item-menu-footer" items: collections.consultations page_url: page.url lang: page.lang %}
          </ol>
        </li>
        <li>
          <ul>
            <li>
              <h3>{% a_menu menu.supports supports_url page.url %}</h3>
              <ol>
                {% render "item-menu-footer" items: collections.supports page_url: page.url lang: page.lang %}
              </ol>
            </li>
            <li>
              <h3>{{ menu.corporate }}</h3>
              <ol>
                <li>{% a_menu menu.careers careers_url page.url careers-now %}</li>
                <li>{% a_menu menu.about about_url page.url %}</li>
                <li>{% a_menu menu.commitment commitment_url page.url %}</li>
              </ol>
            </li>
          </ul>
        </li>
      </menu>

      <i class="arrow gray thin"></i>

      <section class="legal">
        <p>&copy;{{ "now" | date: "%Y" }} PT. Sagara Xinix Solusitama</p>
        <menu>
          <li>{% a_menu menu.terms term_url page.url %}</li>
          <li>{% a_menu menu.cookie cookie_url page.url %}</li>
          <li>{% a_menu menu.privacy privacy_url page.url %}</li>
        </menu>
      </section>
    </footer>
  </body>
</html>