---
title: Sagara
description: A Mission Driven Technology Company in Indonesia
namespace: home
---

<!DOCTYPE html>
<html lang="en" class="nojs">
  <head>
    <meta charset="UTF-8">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#F9FAFC" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#191A1B" />
    <link rel="stylesheet" href="/css/bundle.css">

    <script>
      if (window.matchMedia) {
        const html = document.querySelector("html");
        const mode = window.matchMedia('(prefers-color-scheme: dark)').matches ? "dark-mode" : "js";
        html.setAttribute('class', mode);
      }
    </script>
    <script src="/js/bundle.js" async></script>

    {% comment %} Favicons {% endcomment %}
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png">
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png">
    <link rel="icon" href="/favicon.svg">
    <link
      rel="mask-icon"
      href="/favicon.svg"
      color="#2B2727">
    <link rel="manifest" href="/site.webmanifest">

      {% comment %} Microsoft tile {% endcomment %}
    <meta name="msapplication-TileColor" content="#F9FAFC">
    <meta name="msapplication-TileImage" content="/android-chrome-192x192.png">

      {% comment %} Open Graph / Facebook {% endcomment %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="/favicon.svg">

      {% comment %} Twitter {% endcomment %}
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ page.url }}">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ description }}">
    <meta property="twitter:image" content="/favicon.svg">
  </head>

  <body data-barba="wrapper">
    <header>
      <div>
        <a
          href="/"
          {% aria_current_page page.url "/" %}
          class="logo">
          <span class="gradient"></span>
          <span class="name">sagara</span>
        </a>
      </div>

      <nav class="menu">
          {% comment %} Toggle for desktop {% endcomment %}
        <input
          type="radio"
          name="main-menu"
          id="menu-close"
          hidden
          checked />
        <label
          for="menu-close"
          id="menu-close-trigger"
          hidden></label>

        {% comment %} Toggle for mobile {% endcomment %}
        <input
          type="checkbox"
          name="main-menu-show"
          id="menu-show"
          hidden />
        <label
          for="menu-show"
          id="menu-show-trigger"
          hidden>
          <span>
            <i class="show"></i>
          </span>
        </label>

        {% comment %} Menu {% endcomment %}
        <menu>
          <li hidden>
            <a href="/">Home</a>
          </li>
          <li {% aria_current_page page.url "/products/" products-now %}>
            {% label_checkbox "Products" "/products/" "main-menu" %}

            <nav class="popup">
              <menu>
                {% render 'item-menu' items: collections.products page_url: page.url %}
              </menu>
              {% a_arrow "See All Products" "/Products/" "button pill" %}
            </nav>
          </li>
          <li {% aria_current_page page.url "/solutions/" solutions-now %}>
            {% label_checkbox "Solutions" "/solutions/" "main-menu" %}

            <nav class="popup">
              <menu>
                {% render 'item-menu' items: collections.solutions page_url: page.url %}
              </menu>
              {% a_arrow "See All Solutions" "/solutions/" "button pill" %}
            </nav>
          </li>
          <li {% aria_current_page page.url "/consultations/" consultations-now %}>
            {% label_checkbox "Consultations" "/consultations/" "main-menu" %}

            <nav class="popup">
              <menu>
                {% render 'item-menu' items: collections.consultations page_url: page.url %}
              </menu>
              {% a_arrow "See All Consultations" "/consultations/" "button pill" %}
            </nav>
          </li>
          <li {% aria_current_page page.url "/supports/" supports-now %}>
            {% label_checkbox "Supports" "/supports/" "main-menu" %}

            <nav class="popup">
              <menu>
                {% render 'item-menu' items: collections.supports page_url: page.url %}
              </menu>
              {% a_arrow "See All Supports" "/supports/" "button pill" %}
            </nav>
          </li>
          <li {% aria_current_page page.url "/careers/" careers-now %}>
            <a href="/careers/">Careers</a>
          </li>
        </menu>

        {% comment %} Toggle for Accesibility {% endcomment %}
        <input
          type="checkbox"
          name="accessibility"
          id="accessibility"
          hidden />
        <label for="accessibility" class="accessibility">
          <svg
            width="24"
            height="24"
            viewBox="0 0 32 32"
            aria-label="Jadi Logo">
            <use href="/img/icons/medium.svg#accessibility" />
          </svg>
        </label>

        {% comment %} Accessibility popup {% endcomment %}
        <dialog class="options" title="Accesibility Settings">
          <form method="dialog">
            <article>
              <h3>Accessibility</h3>
              <label><input
                  type="checkbox"
                  id="reduce-motion"
                  name="reduce-motion"> Remove Motion</label>
              <label><input
                  type="checkbox"
                  id="underline-links"
                  name="underline-links"> Underline Links</label>
              <label><input
                  type="checkbox"
                  id="high-contrast"
                  name="high-contrast"> High Contrast</label>
              <label><input
                  type="checkbox"
                  id="dark-mode"
                  name="dark-mode"> Always Dark Mode</label>
              <p class="row">
                <input
                  type="radio"
                  name="lang"
                  hidden>
                <span>Language</span>
                <label class="button blue very-small">En</label>
                <label class="button white very-small">Ina</label>
              </p>
            </article>
            <p class="small">
              <strong>Notice</strong>: We use cookies to save your accessibility preferences.</p>
            <label for="accessibility" class="button white pill">Save and close
              <i class="arrow"></i>
            </label>
          </form>
        </dialog>
      </nav>
    </header>

    <main
      class="{{ class }}"
      data-barba="container"
      data-barba-namespace="{{ namespace }}">
      {{ content }}
    </main>

    <footer>
      <menu class="sitemap">
        <li>
          <h3>{% a_menu 'Products' '/products/' page.url %}</h3>
          <ol>
            {% render 'item-menu-footer' items: collections.products page_url: page.url %}
          </ol>
        </li>
        <li>
          <h3>{% a_menu 'Solutions' '/solutions/' page.url %}</h3>
          <ol>
            {% render 'item-menu-footer' items: collections.solutions page_url: page.url %}
          </ol>
        </li>
        <li>
          <h3>{% a_menu 'Consultations' '/consultations/' page.url %}</h3>
          <ol>
            {% render 'item-menu-footer' items: collections.consultations page_url: page.url %}
          </ol>
        </li>
        <li>
          <ul>
            <li>
              <h3>{% a_menu 'Supports' '/supports/' page.url %}</h3>
              <ol>
                {% render 'item-menu-footer' items: collections.supports page_url: page.url %}
              </ol>
            </li>
            <li>
              <h3>Corporate</h3>
              <ol>
                <li>{% a_menu 'Careers' '/careers/' page.url careers-now %}</li>
                <li>{% a_menu 'About' '/about/' page.url %}</li>
                <li>{% a_menu 'Commitment and Responsibility' '/commitment-and-responsibility/' page.url %}</li>
              </ol>
            </li>
          </ul>
        </li>
      </menu>

      <i class="arrow gray thin"></i>

      <section class="legal">
        <p>&copy;{{ "now" | date: "%Y" }} PT. Sagara Xinix Solusitama</p>
        <menu>
          <li>{% a_menu 'Terms of Use' '/terms-of-use/' page.url %}</li>
          <li>{% a_menu 'Cookie Policy' '/cookie-policy/' page.url %}</li>
          <li>{% a_menu ' Privacy Policy' '/privacy-policy/' page.url %}</li>
        </menu>
      </section>
    </footer>
  </body>
</html>