---
layout: main.liquid
tags: solutions
class: solutions
namespace: solutions
svg: placeholder
solutions-now: true
permalink: "{{ title-strong | slugify }}/index.html"
---

<section class="hero image">
  <article>
    <div class="text">
      <h4>{{ tags }}</h4>
      <h1>{{ title }}</h1>
      <p>{{ description-hero }}</p>
    </div>
    <a href="#request-demo" class="button cta">Request for Quotation
      <i class="arrow"></i>
    </a>
  </article>
  <div class="img clip">
    <img
      src="{{ img }}"
      width="1440"
      height=""
      alt="{{ alt }}" />
  </div>
</section>

{{ content }}

{% include 'build-in' %}

{% include 'form-request-for-demo' %}