---
layout: main.liquid
tags: supports
class: supports
supports-now: true
svg: placeholder
permalink: "{{ title | slugify }}/index.html"
---

<section class="hero">
  <article>
    <div class="text">
      <h4>{{ tags }}</h4>
      <h1>{{ title }}</h1>
      <p>{{ description-hero }}</p>
    </div>
  </article>
</section>

{{ content }}