---
layout: listing.html
title: Consultations
---

<div class="text">
    <h1>Most of The Time, Your Organization need a Tailor-Made Solution</h1>
    <p>Our solutions result from extensive collaboration with government agencies, public, and private organizations, tapping into a reservoir of best practices. Informed by lessons from regulatory compliance, workflow optimization, and user experience enhancement, our approach is deeply rooted in valuable partnerships.</p>
</div>

<div class="dots"></div>

<ul>
	{%- for consultation in collections.consultations -%}
	<li>
		<svg width="160" height="160" viewBox="0 0 128 128" aria-label="{{ consultation.data.title }} - Logo">
			<use href="/img/icons/shadow.svg#{{ consultation.data.svg }}"></use>
		</svg>
		<h3>{% if consultation.data.title-strong %}<strong>{{ consultation.data.title-strong }}</strong> - {% endif %}{{ consultation.data.title-description }}</h3>
		<p>{{ consultation.data.description }}</p>
		<a href="{{ consultation.url }}" class="button pill blue">Learn more <i class="arrow"></i></a>
	</li>
	{%- endfor -%}
</ul>