---
layout: main-career.liquid
class: home
---

<section class="hero">
	<article>
		<div class="text">
			<h1>We are a Mission Driven Technology Company in Indonesia</h1>
			<p>Our innovative products and services technologies are designed with a profound commitment to the <strong>sustainability</strong>, <strong>accessibility</strong>, and <strong>privacy</strong> in mind.</p>
		</div>
		<a href="/commitment-and-responsibility" class="button cta">Learn about our commitments <i class="arrow"></i></a>
	</article>
</section>

<section class="tabs">
	<input type="radio" id="tabs1Products" name="tabs1" checked>
	<input type="radio" id="tabs1Solutions" name="tabs1">
	<input type="radio" id="tabs1Consultations" name="tabs1">

	<nav>
		<h2>Discover our:</h2>
		<menu class="flat tab submenu">
			<li><label for="tabs1Products">Products</label></li>
			<li><label for="tabs1Solutions">Solutions</label></li>
			<li><label for="tabs1Consultations">Consultations</label></li>
		</menu>
	</nav>

	<div class="content">
		<article id="products" class="selection default">
			<h2 hidden>Products</h2>
			<ol class="flat scroll">
				<li class="plain"><i class="arrow"></i></li>
				{%- for product in collections.products -%}
				<li>
					<a href="{{ product.url }}">
						<svg width="128" height="128" viewBox="0 0 128 128" aria-label="{{ product.data.title }} - Logo">
							<use href="/img/icons/shadow.svg#{{ product.data.svg }}"></use>
						</svg>
					</a>
					<div class="text">
						{% if product.data.title-strong %}<h3><a href="{{ product.url }}">{{ product.data.title-strong }}</a></h3>{% endif %}
						<p><a href="{{ product.url }}">{{ product.data.title-description }}</a></p>
					</div>
				</li>
				{%- endfor -%}
			</ol>
		</article>

		<article id="solutions" class="selection default">
			<h2 hidden>Solutions</h2>
			<ol class="flat scroll">
				<li class="plain"><i class="arrow"></i></li>
				{%- for solution in collections.solutions -%}
				<li>
					<a href="{{ solution.url }}">
						<svg width="128" height="128" viewBox="0 0 128 128" aria-label="{{ solution.data.title }} - Logo">
							<use href="/img/icons/shadow.svg#{{ solution.data.svg }}"></use>
						</svg>
					</a>
					<div class="text">
						{% if solution.data.title-strong %}<h3><a href="{{ solution.url }}">{{ solution.data.title-strong }}</a></h3>{% endif %}
						<p><a href="{{ solution.url }}">{{ solution.data.title-description }}</a></p>
					</div>
				</li>
				{%- endfor -%}
			</ol>
		</article>

		<article id="consultations" class="selection default">
			<h2 hidden>Consultations</h2>
			<ol class="flat scroll">
				<li class="plain"><i class="arrow"></i></li>
				<li>
					<a href="/mobile-apps-development">
						<svg width="128" height="128" viewBox="0 0 128 128" aria-label="Mobile Apps Development Logo" class="icon">
							<use href="/img/icons/shadow.svg#mobile"></use>
						</svg>
					</a>
					<p><a href="/mobile-apps-development">Mobile Apps Development</a></p>
				</li>
				<li>
					<a href="/web-based-development">
						<svg width="128" height="128" viewBox="0 0 128 128" aria-label="Web-Based Development Logo" class="icon">
							<use href="/img/icons/shadow.svg#custom-development"></use>
						</svg>
					</a>
					<p><a href="/web-based-development">Web-Based Development</a></p>
				</li>
				<li>
					<a href="/web-and-interface-redesign">
						<svg width="128" height="128" viewBox="0 0 128 128" aria-label="Web and Interface Redesign Logo" class="icon">
							<use href="/img/icons/shadow.svg#website"></use>
						</svg>
					</a>
					<p><a href="/web-and-interface-redesign">Web and Interface Redesign</a></p>
				</li>
				<li>
					<a href="/redesign">
						<svg width="128" height="128" viewBox="0 0 128 128" aria-label="User Experience Redesign Logo" class="icon">
							<use href="/img/icons/shadow.svg#redesign"></use>
						</svg>
					</a>
					<p><a href="/redesign">User Experience Redesign</a></p>
				</li>
				<li>
					<a href="/mobile">
						<svg width="128" height="128" viewBox="0 0 128 128"
							aria-label="Accessibility Implementation Logo">
							<use href="/img/icons/shadow.svg#accessibility"></use>
						</svg>
					</a>
					<p><a href="/mobile">Accessibility Implementation</a></p>
				</li>
				<li>
					<a href="/sustainable-emission-practices">
						<svg width="128" height="128" viewBox="0 0 128 128"
							aria-label="Sustainable Emission Practices Logo">
							<use href="/img/icons/shadow.svg#emission-reduction"></use>
						</svg>
					</a>
					<p><a href="/sustainable-emission-practices">Sustainable Emission Practices</a></p>
				</li>
				<li>
					<a href="/businness-bootstrapping">
						<svg width="128" height="128" viewBox="0 0 128 128" aria-label="Business Bootstrapping Logo" class="icon">
							<use href="/img/icons/shadow.svg#bootstrap"></use>
						</svg>
					</a>
					<p><a href="/businness-bootstrapping">Business Bootstrapping</a></p>
				</li>
			</ol>
		</article>
	</div>
</section>

<section class="horizontal">
	<h2>Inside<br />Sagara</h2>

	<div class="text">
		<p>At Sagara, we're dedicated to making a difference through innovative technologies that prioritize the environment, accessibility, and privacy. Our commitment will drives us to create technologies that not only works seamlessly but also has a positive impact on the world around us.</p>
		<a href="/about" class="default big blue">About Sagara <i class="arrow"></i></a>
	</div>
</section>