---
layout: listing.html
title: Products
products-now: true
---

<div class="text">
	<h1>Stem from Years of Tech Sector Experience</h1>
	<p>Our products result from extensive experience gained over years of working in both the private and government sectors in Indonesia. This diverse experience has allowed us to understand and address the unique challenges and needs of both sectors, ultimately shaping our products to provide effective solutions.</p>
</div>

<div class="dots"></div>

<ul>
	{%- for product in collections.products -%}
	<li>
		<svg width="160" height="160" viewBox="0 0 128 128" aria-label="{{ product.data.title }} - Logo">
			<use href="/img/icons/shadow.svg#{{ product.data.svg }}"></use>
		</svg>
		<h3>{% if product.data.title-strong %}<strong>{{ product.data.title-strong }}</strong> - {% endif %}{{ product.data.title-description }}</h3>
		<p>{{ product.data.description }}</p>
		<a href="{{ product.url }}" class="button pill blue">Learn more <i class="arrow"></i></a>
	</li>
	{%- endfor -%}
</ul>